<div class="add-item">
    <input
      type="text"
      placeholder="Item name"
      #inputName
    />
    <input
      type="number"
      placeholder="Item price"
      step="0.01"
      #inputPrice
    />
    <button (click)="addItem()">Add</button>
  </div>
  