.add-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
  }

  input {
    flex: 1;
    padding: 5px;
  }

  button {
    margin-left: 10px;
    background-color: #008cff;
    color: white;
    border: none;
    cursor: pointer;
  }