<div class="shopping-list">
<span *ngFor="let item of shoppingList">

    </span>
    <item 
    *ngFor="let item of shoppingList"
    [id]="item[0]"
    [itemName]="item[1].name"
    [itemPrice]="item[1].price"
    [crossedOut]="item[1].crossed"
    >
    </item>
    <add-item></add-item>
</div>
  