.left{
    flex:2;
    display: flex;
  }
  .item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }

  .name .price{
    font-weight: bold;
  }

  .name {
    flex: 1;
  }

  .price {
    min-width: 3rem;
    color: #007bff;
    text-align: right;
  }

  .divider {
      vertical-align: middle;
      display: inline-block;
      min-width: 0.1em;
      min-height: 1rem;
      background-color: lightgray;   
      margin-left: 1rem;
  }

  .button {
    margin-left: 10px;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
  }

  .crossed-out {
    text-decoration: line-through;
    color: #aaa;
  }