<div class="item">
  <div class="left" (click)="toggleCrossedOut()">
    <span class="name" [class.crossed-out]="crossedOut">{{ itemName }}</span>
    <span class="divider"></span>
    <span class="price" [class.crossed-out]="crossedOut">{{ itemPrice }}€</span>
  </div>
  <div>
    <span class="divider"></span>
    <button (click)="handleDelete()" class="button">Delete</button>
  </div>
</div>
